@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

